body {
    font-family: 'Courier New', monospace;
    background-color: #2e2e2e;
    color: white;
    margin: 0;
    padding: 20px;
}

#status-btn {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
}

#status-btn:hover {
    background-color: #45a049;
}

h2 {
    text-align: center;
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: center;
}

td:nth-child(2) {
    white-space: normal;
    word-wrap: break-word;
}

th {
    background-color: #444;
    cursor: pointer;
}

th:hover {
    background-color: #555;
}

tr:nth-child(even) {
    background-color: #333;
}

tr:nth-child(odd) {
    background-color: #555;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: 2px solid #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 4px;
    width: auto;
    margin: 8px 0;
}

button:hover {
    background-color: #388E3C;
    border-color: #222;
}

.btn-danger {
    background-color: #f44336;
    border-color: #d32f2f;
}

.btn-danger:hover {
    background-color: #d32f2f;
    border-color: #c62828;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.close-btn:hover {
    background-color: #da190b;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#modal.show {
    display: flex;
}

#modal-content {
    background-color: #333;
    padding: 20px;
    max-width: 800px;
    width: 90%;
    overflow-y: auto;
    position: relative;
}

.pagination {
    text-align: center;
    margin: 10px 0;
}

.pagination button {
    margin: 0 5px;
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    z-index: 10000;
}

#map {
    height: 400px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    #map {
        height: 50vh;
    }
    #modal-content {
        width: 95%;
        padding: 10px;
    }
    table, th, td {
        font-size: 14px;
        padding: 5px;
    }
}
